<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeouLive</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/layout/domain.css">
</head>

<body>

    <!-- <div id="domain_header"> -->
    <div class="domain_wrap">
        <div class="domain_container">
            <div id="domain_header">
                <!-- <jsp:include page="${pageContext.request.contextPath}/WEB-INF/views/common/header.jsp"/> -->
            </div>

            <div id="domain_body">
                <div class="domain_gesipan" id="domain_travel">
                    <div class="domain_title" id="domain_travel_title">
                        <a href="">여행지</a>
                    </div>
                    <div class="domain_list" id="domain_travel_list">
                        <ul class="ulLine">
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                        </ul>
                    </div>  <!-- domain_travel_list -->
                </div>
                <div class="domain_gesipan" id="domain_travel">
                    <div class="domain_title" id="domain_travel_title">
                        <a href="">코스</a>
                    </div>
                    <div class="domain_list" id="domain_travel_list">
                        <ul class="ulLine">
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                        </ul>
                    </div>  <!-- domain_travel_list -->
                </div>
                <div class="domain_gesipan" id="domain_travel">
                    <div class="domain_title" id="domain_travel_title">
                        <a href="">리뷰</a>
                    </div>
                    <div class="domain_list" id="domain_travel_list">
                        <ul class="ulLine">
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                            <li>
                                <div id="photo">
                                    <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&amp;id=870e2a7c-eb93-4708-83b0-94cd277b6f04" alt="석촌호수 벚꽃축제">
                                </div>
                                <div id="writer_title">
                                    <p>석촌호수</p>
                                </div>
                            </li>
                        </ul>
                    </div>  <!-- domain_travel_list -->
                </div>
                
            </div><!-- <div id="domain_body"></div> -->
            <div id="domain_footer">
                <!-- <jsp:include page="${pageContext.request.contextPath}/WEB-INF/views/common/header.jsp"/> -->
            </div>
        </div><!-- <div class="domain_container"> -->
        

    </div><!-- <div class="domain_wrap"> -->

    <script>
        $(document).ready(function(){
            $("#domain_header").load("/WEB-INF/views/common/header.html");
        });
        $(document).ready(function(){
            $("#domain_footer").load("/WEB-INF/views/common/footer.html");
        });
    </script>
    
</body>

</html>