<link href="../cs/layout.css" rel="stylesheet" type="text/css">
<!-- <style src="../cs/layout.css"></style> -->
    <div id="header">
        <div id="headerwrap">
            <h1>
                <a href=""><img src="../icon/log.png" alt="" id="headerLogo" width="360" height="auto"></a>    
            </h1>
            <ul class="bn">
                <li class="fl" id="management">재고관리</li>
                <li class="fl" id="qna">문의사항</li>
            </ul>

            <ul>
                <a href=""><li class="fr" id="joinBtn">회원가입</li></a>
                <a href=""><li class="fr" id="loginBtn">로그인</li></a>
            </ul>
        </div>
    </div>

