<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.zerock.myapp.mapper.TravelMapper">
  	
  	
  <sql id="searchInclude">
<!--   	<trim prefix="(" suffix=")" prefixOverrides="OR"> -->
 	<trim prefix="AND" prefixOverrides="AND">
<!--   		<trim prefix="AND"> -->
			
  			<choose>
  			  	<when test='searchType == "ll"'>
  				
  				</when>
  				<when test='searchType != ""'>
  					AND category = #{searchType}
  				</when> 
				<when test='keyword !=""'>
  					AND title LIKE '%' || #{keyword} || '%'
  				</when>

  			</choose>

  	</trim>
  </sql>
  
  	
  	<select id="getTravelList" resultType="org.zerock.myapp.domain.TravelDTO">
  		SELECT *
  		FROM tbl_travel
<!--   		WHERE  -->
<!--   			title LIKE '%' || #{keyword} || '%' -->
<!--   			AND -->
<!--   			category LIKE '%' || #{searchType} || '%' -->
  		ORDER BY
  			seq DESC
  		OFFSET (#{currPage} - 1) * #{amount} ROWS
  		FETCH NEXT #{amount} ROWS ONLY 
  	</select>
  	
  	<select id="getSelectTravel" resultType="org.zerock.myapp.domain.TravelDTO">
  		SELECT *
  		FROM tbl_travel
  		WHERE seq = #{seq}
  	</select>
  	
  	<select id="getPageTotalAmount" resultType="java.lang.Integer">
  		SELECT
  			count(*)
  		FROM 
  			tbl_travel
  		WHERE
  			1=1
  	</select>
  	
  	<insert id="writeTravel">
  		INSERT INTO
  			tbl_travel
  		(
  			seq,
  			writer,
  			category,
  			title,
  			content,
  			address,
  			total,
  			write_date,
  			start_date,
  			end_date
  		)
  		VALUES 
  		(
  			travel_seq.NEXTVAL,
  			#{writer},
  			#{category},
  			#{title},
  			#{content},
  			#{address},
  			0,
  			current_date,
  			to_date(#{start_date},'yyyy-mm-dd'),
  			to_date(#{end_date},'yyyy-mm-dd')
  			
  		)
  			
  	</insert>
  	
  	<select id="SearchTravelList" resultType="org.zerock.myapp.domain.TravelDTO">
  		

  		SELECT
  			*
  		FROM
  			tbl_travel
  		WHERE
  			1=1
  			<include refid="searchInclude"/>
  		ORDER BY
  			seq DESC
  			OFFSET (#{currPage} - 1) * #{amount} ROWS
  			FETCH NEXT #{amount} ROWS ONLY 
  		
  			
  	</select>
  	
  	<select id="SearchTravelPage" resultType="java.lang.Integer">
  		SELECT
  			count(*)
  		FROM 
  			tbl_travel
  		WHERE
  			1=1
			<include refid="searchInclude"/>
  	</select>
  	
  	<select id="checkTravelViewUser" resultType="java.lang.String">
  		SELECT writer 
  		FROM tbl_travel
		WHERE seq=#{seq} 

  	</select>
  	
  	<update id="modifyTravel">
  		UPDATE tbl_travel
  		SET
  			category = #{category},
  			title = #{title},
  			content = #{content},
  			address = #{address},
  			modify_date = current_date, 
  			start_date = #{start_date},
  			end_date = #{end_date}
  		WHERE
  			seq = #{seq}
  		AND
  			writer = #{writer}
  	</update>
  </mapper>