@charset "utf-8";
@import url('reset.css');
.container{
    padding-top: 100px;
    width:1000px;
    height: 500px;
    margin:150px auto;
    /* border:1px solid red; */
}
h1{
    text-align: center;
}
.wrap{
    width: 1000px;
}
.wrap_1_block{
    height: 100px;
}
.wrap_2{
    height: 50px;
    display: flex;
}
.wrap_2_1{
    width: 80px;
    height: 100%;
    font-size: 16px;
    font-weight: bolder;
}
.wrap_2_2 > select{
    width:150px;
    height: 20px;
}
.wrap_2_2 select > option{
    
    font-size: 16px;
    font-weight: bolder;
}
.wrap_2_2{
    font-size: 16px;
    font-weight: bolder;
}
.wrap_2_3{
    text-align: center;
    width:90px;
    font-size: 16px;
    font-weight: bolder;
}
.wrap_2_block{
    width:400px;
}
.wrap_2_4{
    justify-content: center;
    align-items: center;
}
.wrap_2_4 > input{
    width:200px;
    height:20px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
.wrap_2_5 >input{
    width: 100px;
    background-color:#49539E;
    color:aliceblue;
    font-size: large;

    height: 30px;
}
.wrap_2_6 > input{
    width: 200px;
    background-color:#49539E;
    color:aliceblue;
    font-size: large;

    height: 30px;
}
.uptable{
    width: 1000px;
    border:1px solid black;
}
th{
    border:1px solid black;
    height: 20px;
}
.uptable>thead{
    background-color: #49539E;
}
.uptable>thead>tr>th{
    color:aliceblue;
}
.wrap_2_5_6_block{
    width: 10px;
}