@charset "utf-8";
@import url('reset.css');
.container{
    padding-top: 100px;
    width:1000px;
    height:800px;
    margin:150px auto;
}

.wrap_1{
    width:100%;
    height:150px;
    border: 1px solid black;
}
.wrap_1_2{
    float:right;
}
h1{
    text-align: center;
}
.wrap_1_2_1 > input{
    margin-right: 10px;
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}
.wrap_2{
    border:1px solid blue;
    /* display: flex; */
}
.wrap_2_1 > input{
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}
.wrap_2_2 > input{
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}
.blocks_1{
    width: 30px;
    height: 20px;;
}
.blocks_2{
    width: 30px;
    height: 50px;;
}